# Created by 
# /usr/bin/cfgmaker --global WorkDir:/var/www private@10.0.0.130 --output /hostlab/S1pM/root/S1PE.cfg


### Global Config Options

#  for UNIX
# WorkDir: /home/http/mrtg

#  for Debian
WorkDir: /var/www/mrtg

#  or for NT
# WorkDir: c:\mrtgdata

### Global Defaults

#  to get bits instead of bytes and graphs growing to the right
# Options[_]: growright, bits

EnableIPv6: no
WorkDir:/var/www

######################################################################
# System: S1PE
# Description: Linux S1PE 2.6.26.5-netkit-K2.8 #1 Thu Nov 26 15:37:25 CET 2009 i686
# Contact: Root <root@localhost> (configure /etc/snmp/snmpd.local.conf)
# Location: Unknown (configure /etc/snmp/snmpd.local.conf)
######################################################################


### Interface 1 >> Descr: 'lo' | Name: 'lo' | Ip: '127.0.0.1' | Eth: '' ###
### The following interface is commented out because:
### * it is a Software Loopback interface
# 
# Target[10.0.0.130_1]: 1:private@10.0.0.130:
# SetEnv[10.0.0.130_1]: MRTG_INT_IP="127.0.0.1" MRTG_INT_DESCR="lo"
# MaxBytes[10.0.0.130_1]: 1250000
# Title[10.0.0.130_1]: Traffic Analysis for 1 -- S1PE
# PageTop[10.0.0.130_1]: <h1>Traffic Analysis for 1 -- S1PE</h1>
# 		<div id="sysdetails">
# 			<table>
# 				<tr>
# 					<td>System:</td>
# 					<td>S1PE in Unknown (configure /etc/snmp/snmpd.local.conf)</td>
# 				</tr>
# 				<tr>
# 					<td>Maintainer:</td>
# 					<td>Root &lt;root@localhost&gt; (configure /etc/snmp/snmpd.local.conf)</td>
# 				</tr>
# 				<tr>
# 					<td>Description:</td>
# 					<td>lo  </td>
# 				</tr>
# 				<tr>
# 					<td>ifType:</td>
# 					<td>softwareLoopback (24)</td>
# 				</tr>
# 				<tr>
# 					<td>ifName:</td>
# 					<td>lo</td>
# 				</tr>
# 				<tr>
# 					<td>Max Speed:</td>
# 					<td>1250.0 kBytes/s</td>
# 				</tr>
# 				<tr>
# 					<td>Ip:</td>
# 					<td>127.0.0.1 (S1pM)</td>
# 				</tr>
# 			</table>
# 		</div>


### Interface 2 >> Descr: 'teql0' | Name: 'teql0' | Ip: '' | Eth: '' ###
### The following interface is commented out because:
### * it is administratively DOWN
### * it is operationally DOWN
### * has a speed of 0 which makes no sense
# 
# Target[10.0.0.130_2]: 2:private@10.0.0.130:
# SetEnv[10.0.0.130_2]: MRTG_INT_IP="" MRTG_INT_DESCR="teql0"
# MaxBytes[10.0.0.130_2]: 0
# Title[10.0.0.130_2]: Traffic Analysis for 2 -- S1PE
# PageTop[10.0.0.130_2]: <h1>Traffic Analysis for 2 -- S1PE</h1>
# 		<div id="sysdetails">
# 			<table>
# 				<tr>
# 					<td>System:</td>
# 					<td>S1PE in Unknown (configure /etc/snmp/snmpd.local.conf)</td>
# 				</tr>
# 				<tr>
# 					<td>Maintainer:</td>
# 					<td>Root &lt;root@localhost&gt; (configure /etc/snmp/snmpd.local.conf)</td>
# 				</tr>
# 				<tr>
# 					<td>Description:</td>
# 					<td>teql0  </td>
# 				</tr>
# 				<tr>
# 					<td>ifType:</td>
# 					<td>Other (1)</td>
# 				</tr>
# 				<tr>
# 					<td>ifName:</td>
# 					<td>teql0</td>
# 				</tr>
# 				<tr>
# 					<td>Max Speed:</td>
# 					<td>0.0 Bytes/s</td>
# 				</tr>
# 			</table>
# 		</div>


### Interface 3 >> Descr: 'eth0' | Name: 'eth0' | Ip: '10.0.0.130' | Eth: '0e-f4-79-0e-bf-30' ###

Target[10.0.0.130_3]: 3:private@10.0.0.130:
SetEnv[10.0.0.130_3]: MRTG_INT_IP="10.0.0.130" MRTG_INT_DESCR="eth0"
MaxBytes[10.0.0.130_3]: 1250000
Title[10.0.0.130_3]: Traffic Analysis for 3 -- S1PE
PageTop[10.0.0.130_3]: <h1>Traffic Analysis for 3 -- S1PE</h1>
		<div id="sysdetails">
			<table>
				<tr>
					<td>System:</td>
					<td>S1PE in Unknown (configure /etc/snmp/snmpd.local.conf)</td>
				</tr>
				<tr>
					<td>Maintainer:</td>
					<td>Root &lt;root@localhost&gt; (configure /etc/snmp/snmpd.local.conf)</td>
				</tr>
				<tr>
					<td>Description:</td>
					<td>eth0  </td>
				</tr>
				<tr>
					<td>ifType:</td>
					<td>ethernetCsmacd (6)</td>
				</tr>
				<tr>
					<td>ifName:</td>
					<td>eth0</td>
				</tr>
				<tr>
					<td>Max Speed:</td>
					<td>1250.0 kBytes/s</td>
				</tr>
				<tr>
					<td>Ip:</td>
					<td>10.0.0.130 ()</td>
				</tr>
			</table>
		</div>


